 @import "../node_modules/bootstrap/scss/bootstrap";
 @import "./utils/variables";
 @import "./utils/functions";
 @import "./utils/mixins";

a {
    &:link {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:active {text-decoration: none;}
}

header {
    margin-bottom: $margin-top;
    .row {
        background-color: $color-primary;
        a {
            color: $color-primary-text;
            &:hover {font-size: 133%;}
        }
        nav {
            img {margin-right: 1.5rem;}
        }
        .dot {color: $color-primary-text;}
        #navbarContent {height: 297px;}
    }
}

#intro {
    hr {
        color: $color-primary;
        height: 0.25rem;
    }
    #cardID {
        margin-left: 6rem;
    }
}

#ancres {
    margin-top: $margin-top;
    .card {
        background-color: $color-primary-text;
        a {
            &:hover {
                border-color: $color-primary;
                border-width: 3px;
            }
        }
        .card-title {color: $color-primary;}
        .card-text {color: $color-secondary-text;}
    }
}















.cardType2 {
    &:hover {
        border-color: $color-secondary-text;
        border-width: 2px;
    }
    text-align: center;
    .card-title {color: $color-primary;}
    .card-text {color: $color-secondary-text;}
}