 @import "../node_modules/bootstrap/scss/bootstrap";


 $Green1 : #1a9e1a96;
 $Green2 : #a9d1259b;
 $Gray1 : #a7a7a7;

header {
    .row {
        background-color: $Green1;
        a {
            color: white;
        }
        nav {
            img {
                margin-right: 1.5rem;
            }
        }
        .dot {
            color: white;
        }
    }
}

section {
    .card {
        min-width: 220px;
    }
    .card-title {
        color: $Green1;
    }
    .card-text {
        color: $Gray1;
    }
}

.card {
    .card-footer {
        font-style: italic;
    }
}

.jumbotron {
    background-color: white;
    margin-bottom: 2.5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    h2 {
        color: $Green1;
    }
    h3, h4 {
        color: $Gray1;
    }
}
