 @import "../node_modules/bootstrap/scss/bootstrap";


 $Green1 : #1a9e1a96;
 $Green2 : #769e1a96;
 $Green3 : #108b24d2;

header {
    .row {
        background-color: $Green1;
    }
    nav {
        img {
            margin-right: 1.5rem;
        }

    }
}

$jumboBackColor : #252424e5;
$jumboTextColor : #cfcece;

 .jumbotron {
    background-color: $jumboBackColor;
    color: $jumboTextColor;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
