 @import "../node_modules/bootstrap/scss/bootstrap";


 $Green1 : #1a9e1a96;
 $Green2 : #a9d1259b;
 $Gray1 : #a7a7a7;

 a {
    &:link {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:active {text-decoration: none;}
}

header {
    .row {
        background-color: $Green1;
        a {
            color: white;
        }
        nav {
            img {
                margin-right: 1.5rem;
            }
        }
        .dot {
            color: white;
        }
        #navbarContent {
            height: 297px;
        }
        a:hover {
            font-size: 150%;
          }
    }
}

section {
    .card {
        min-width: 220px;
        
        border-radius: 11px;
        background-color: transparent;
        &:hover {
            border-color: $Green1;
            border-width: 4px;}
        a {
            border-radius: 11px;
            }   
    }
    .card-title {
        color: $Green1;
    }
    .card-text {
        color: $Gray1;
    }
}

.card {
    .card-footer {
        font-style: italic;
    }
}

.jumbotron {
    background-color: white;
    margin-bottom: 2.5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    h2 {
        color: $Green1;
    }
    h3, h4 {
        color: $Gray1;
    }
}

#jumboContact {
    h5 {
        color: $Gray1;
        &:hover {
            font-size: 150%;
            color: $Green1;
        }
    }
    margin-bottom: 0rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}


