.jumbotron {
    background-color: $color-secondary;
    color : $color-primary-text;
    padding: 6rem;
    h2 {
        font-size: 1.2em;
        padding: 2rem;
    }
}

.jumbo-title{
    background-color: $color-primary;
}

.jumbo-content{
    padding: 4rem;
    padding-bottom: 3rem;
}